dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.out
*.cut
*.hp
.stack-work/
.shake/
*TAGS*

*.log
*.pdf
*.ptb
*.bbl
*.blg
*.bst
*.nav
*.snm
*.toc
.DS_Store
diagrams-latex.sty
shake
*.fdb_latexmk
*.fls
*.synctex.gz
auto/

*.agdai
*~

.diagrams_cache/
diagrams/

GCBP-paper.tex
Test
Test.png

Shake
/talk/GCBP-talk.tex
